{% extends 'base.html' %}

{% block main %}
<div class="container-xxl bg-dark hero-header">
    <div class="container px-lg-5">
        <div class="row g-5 align-items-end">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="text-white mb-4 animated slideInDown">Contato</h1>
                <p class="text-white pb-3 animated slideInDown">...</p>
                <a href=""
                    class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft">Saiba
                    mais</a>
                <a href="" class="btn btn-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Entre em
                    contato</a>
            </div>
            <div class="col-lg-6 text-center text-lg-start">
                <img class="img-fluid animated zoomIn" src="img/hero.png" alt="">
            </div>
        </div>
    </div>
</div>
</div>
<!-- Navbar & Hero End -->
{% endblock  %}